/* media queries  */
@media screen and (max-width: 420px) {
  .butt {
    font-size:4vw;
    padding: 2.5%;
  }
  .pTag{
  	font-size: 3vh;
  }
}
@media screen and (max-width: 720px) {
  .butt {
    font-size:4vw;
    padding: 2.5%;
  }
  .pTag{
  	font-size: 3vh;
  }
}
